/* src/css/Admin.css */

.custom-checkbox {
    /* Reset appearance to allow custom styling */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    /* Set the background color for the empty checkbox */
    background-color: #5a6faa;

    /* General styling */
    border: 1px solid #4B5563;
    border-radius: 4px;
    display: inline-block;
    position: relative;
    height: 1.25rem;
    width: 1.25rem;
    cursor: pointer;
    vertical-align: middle;
}

.custom-checkbox:checked {
    /* Style for the checked state */
    background-color: #FBBF24;
    border-color: #FBBF24;
}


.custom-checkbox:checked::after {
    content: '✔';
    font-size: 1rem;
    font-weight: bold;
    color: #111827;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}