/* src/css/Admin.css */

.custom-checkbox {
    /* Reset appearance to allow custom styling */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    /* Set the background color for the empty checkbox */
    background-color: #1c1917;

    /* General styling */
    border: 1px solid #44403c;
    border-radius: 6px;
    display: inline-block;
    position: relative;
    height: 1.25rem;
    width: 1.25rem;
    cursor: pointer;
    vertical-align: middle;
    transition: all 0.2s ease;
}

.custom-checkbox:hover {
    border-color: #78716c;
}

.custom-checkbox:checked {
    /* Style for the checked state */
    background-color: #d97706;
    border-color: #d97706;
}

.custom-checkbox:checked::after {
    content: '✔';
    font-size: 0.875rem;
    font-weight: bold;
    color: #0c0a09;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}